@import './src/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: white;
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.bottomContainer {
  min-height: 42rem;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 5rem;
  color: lighten($accent-color, 15%);
}

.footer {
  font-size: 1.4rem;
  margin-top: 5rem;
  color: $grey;
}